<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="style.css">

    <title>My Blog!</title>
</head>
<body>
    <header>
        <h1>simonknowsstuff's blog</h1>
        <p>A generated blog.</p>
    </header>
    <main>
        <h2>Posts</h2>
        <div id="posts">
        </div>
    </main>
    <footer>This post was made using an automation program written in python. Learn more from the creator's repository!</footer>
</body>
</html>