@font-face {
    font-family: Shaggy;
    src: url('Shaggy-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

:root {
    --base-clr-1: #0C1821;
    --base-clr-2: #fffef9;
    --miscellaneous-colr: #646536;
}
html {
    font-size: 23px;
}

body {
    height: 100%;
    text-align: center;
    color: var(--base-clr-1);
    background-color: var(--base-clr-2);
    font-family: 'Shaggy', sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#posts {
    border: 4px dotted var(--base-clr-1);
    border-radius: 2px;
    min-width: 500px;
    padding: 10px;

    display: flex;
    flex-direction: column;
}

.post-1 {
    background-color: var(--base-clr-1);
    color: var(--base-clr-2);
}

.post-2 {
    background-color: var(--base-clr-2);
    color: var(--base-clr-1);
}

#post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    width: 90%;
    border: 4px dotted var(--base-clr-1);
}

#post-container img {
    width: 80%;
}

#post {
    border: dotted 1px;
}

/* Fixing those ugly links and setting up buttons */
a {
    background-color: var(--base-clr-1);
    color: var(--base-clr-2);
    padding: 10px;
    border-radius: 2px;
}
.post-1 a {
    background-color: var(--base-clr-2);
    color: var(--base-clr-1);
}
.post-2 a {
    background-color: var(--base-clr-1);
    color: var(--base-clr-2);
}
a:hover { padding: 10px; }
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

button {
    background-color: var(--base-clr-1);
    color: var(--base-clr-2);
    border: none;
    padding: 8px;
    font-family: 'Shaggy', sans-serif;
    font-size: large;
    cursor: pointer;
    outline: inherit;
}
button:hover { padding: 10px; }

/* Different styles for posts */
#post-container a {
    background-color: var(--base-clr-2);
    color: var(--miscellaneous-colr);
    padding: 0%;
    border-radius: 0%;
}

#post-container a:hover {padding: 0px;}
#post-container a:link {text-decoration: underline;}

/* Small screen size support */
@media only screen and (max-width: 550px) {
    #posts {
        min-width: 300px;
    }
  }

.img-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%
}

.img-container img {
    flex: 0 0;
    height: auto;
    max-height: 260px;
}

code {
    display: block;
    font-size: 14px;
    white-space: pre-wrap;
    text-align: left;
}